head { color: rgb(49, 45, 45); }
body {
    color: rgb(11, 15, 27);
    background-color: teal;
}

.caja-negra{
    background-color: teal;
    width: 200;
    height: auto;
}

.caja-negra img{
    width: 230px;
    height: auto;
}

/*.caja-verde{
    background-color: teal;
    width: 200px;
    height: auto;
}
*/
.caja-verde{
    width: 100px;
    height: auto;
}

/*.caja-naranja{
    background-color: teal;
    width: 200;
    height: auto;
}
*/
.caja-naranja{
    width: 80px;
    height: auto;
}